/*
#navbar-layout {
  min-height: 80px;
  max-height: 80px;
}
*/

#enactus {
	margin-bottom: 100px;
	margin-top: 0px;
}

a {
	font-size: 18px;
	font-weight: 15px;
}

/*
#navbar-layout {
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 3px 3px 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 3px 3px 10px;
  -o-box-shadow: rgba(0, 0, 0, 0.4) 3px 3px 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 3px 3px 10px;
}
*/

.navbar-brand {
	padding: 0 15px;
	height: 91px;
	line-height: 80px;
}

#OrSection h5 {
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #000;
	line-height: 0.1em;
	margin: 10px 0 20px;
}

#OrSection h5 span {
	background: #fff;
	padding: 0 10px;
}
